[Defaults]
run_name            = SiameseResNetClassifier_ResNet18
model               = SiameseResNet
resnet_type         = resnet18
lr                  = 0.002479324241152825
weight_decay        = 5.58358886230025e-6
batch_size          = 32
epochs              = 25
patience            = 10
training_set_path   = /hpc/archive/T_2022_DLAGM/alex.ergasti/UTKFace/train
validation_set_path = /hpc/archive/T_2022_DLAGM/alex.ergasti/UTKFace/val
test_set_path       = /hpc/archive/T_2022_DLAGM/alex.ergasti/UTKFace/test
checkpoint_path     = /hpc/group/T_2022_DLAGM/alex.ergasti/models 