[Defaults]
run_name            = SiameseResNetAgeClassifier
model               = SiameseResNetAge
resnet_type         = resnet18
lr                  = 0.005285108213178958
weight_decay        = 5.067959425940853e-5
batch_size          = 64
epochs              = 25
patience            = 10
hidden_layers       = 512 256 128
use_dropout         = false
training_set_path   = /hpc/archive/T_2022_DLAGM/alex.ergasti/UTKFace/train
validation_set_path = /hpc/archive/T_2022_DLAGM/alex.ergasti/UTKFace/val
test_set_path       = /hpc/archive/T_2022_DLAGM/alex.ergasti/UTKFace/test
checkpoint_path     = /hpc/group/T_2022_DLAGM/alex.ergasti/models 

